<div ng-controller="searchController" class="header_mar">
    <a href="/#/"> <img src="images/logo_small.png"> </a>
    <form id="custom-search-form" class="form-search form-horizontal pull-right">
        <button class=" input-append span1 icon-search" ng-click="onSearchComicButton()" type="submit" class="btn">
            <image src="images/button_small.png">
        </button>
        <input ng-model="comicInput" type="text" class="search-query mac-style" placeholder="   Another search?">
    </form>
</div>
